*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(15, 26, 39);
    color: white;
}
header {
    height: 100px;
    background-color: rgb(44, 56, 83);
    
    div {
        padding-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        
        h2 {
            font-size: 35px;
        }
    }
}
main {
    .boxFilms {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 100px;
    }
    .cardFilmBox {
        font-size: 14px;
        background-color: rgb(131, 164, 170);
        width: 200px;
        height: 320px;
        padding: 20px;
        border-radius: 5px;
        text-align: center;

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            width: 160px;
            height: 160px;
            border-radius: 5px;
            color: grey;
            margin-bottom: 20px;
        }
    }
}