* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f1a27;
  color: white;
}

header {
  height: 100px;
  background-color: #2c3853;
}

header div {
  padding-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

header div h2 {
  font-size: 35px;
}

main .boxFilms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px;
}

main .cardFilmBox {
  font-size: 14px;
  background-color: #789ea5;
  width: 200px;
  height: 320px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

main .cardFilmBox h4 {
  margin: 5px;
  color: #cccccc;
}

main .cardFilmBox .img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  color: grey;
  margin-bottom: 20px;
}

